<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
</head>

<body>
<h2>Mtaji partner is waiting for your submit!</h2>

<p>
  Hello! <br/>
  Mtaji Partner registered you as a <b>{{role}}</b>. <br/>
  You can use current email and <b>{{password}}</b> as password.
  Please login and submit your company information.
</p>
</body>

</html>
